<home>
    <div class="hero bg-primary">
        <div class="hero-body">
            <h1>Welcome To School Adminstration UI</h1>
            <p>This UI is intended to manage your school administration</p>
        </div>
    </div>
</home>